[Desktop Entry]
Type=Application
Name=Gallery
Name[zh_CN]=照片库
Icon=icon-launcher-gallery
Exec=invoker -s --type=silica-qt5 /usr/bin/jolla-gallery
Comment=Jolla Gallery

