[Desktop Entry]
Type=Application
Name=Gallery
X-MeeGo-Logical-Id=gallery-ap-name
X-MeeGo-Translation-Catalog=gallery
Icon=icon-launcher-gallery
Exec=/usr/bin/sailjail -p jolla-gallery.desktop /usr/bin/jolla-gallery
Comment=Jolla Gallery
[X-Sailjail]
Permissions=Pictures;Videos;MediaIndexing;Downloads;Sharing;Ambience;Privileged;Internet;Synchronization
OrganizationName=com.jolla
ApplicationName=gallery
