[Desktop Entry]
Type=Application
Name=Jolla Gallery
Icon=icon-launcher-gallery
Exec=invoker --type=d -s /usr/bin/jolla-gallery
Comment=Jolla Gallery

