[Desktop Entry]
Type=Application
NoDisplay=true
Name=Gallery
X-MeeGo-Logical-Id=gallery-ap-name
X-MeeGo-Translation-Catalog=gallery
Icon=icon-launcher-gallery
Comment=Sailfish MimeType Handler for Gallery
MimeType=x-scheme-handler/rtsp;video/*;
X-Maemo-Service=com.jolla.gallery
X-Maemo-Object-Path=/com/jolla/gallery/ui
X-Maemo-Method=com.jolla.gallery.ui.playVideoStream
